
/* 網頁寬度 */
.middle {
  max-width: 600px;
}

.paragraph {
  max-width: 800px;
}

/* 上面線條 */
#heard-border1 {
  width: 200px;
  margin-left: 25%;
}

#heard-border2 {
  width: 200px;
  margin-left: 70%;

}

/* 時間按鈕 */
#btn button {
  width: 45%;
  height: 50px;
}


/* 日期 */
#date {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 55px;
}

div.time-picker { /*123 */
  position: absolute;
  height: 200px;
  width:60px;  /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
  margin-top: 1.1em;  
}

div.time-picker-12hours {
  width:90px; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  padding: 1px;
  cursor: pointer;
}
div.time-picker li.selected {
  background: #316AC5;
  color: #fff;
 } /*123 */

div.ui-datepicker {
  width: 450px;
  font-size: 20px;
  color: red;
  box-shadow: 5px 5px 5px slategrey;
  border-radius: 10px;
  padding: 10px;
}

div.ui-datepicker .ui-state-default {
  border-radius: 20px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}


/* 響應式 */
@media(max-width: 1600px) {
  #heard-border1 {
    visibility: hidden;
  }

  #heard-border2 {
    visibility: hidden;
  }

}